.contentsWrap {
  min-width : 250px;
  max-width : 720px;
  margin : 0 auto;
  text-align: center;
}

.loginWrap {
  margin : 0 auto;
  width : 250px;
  text-align : left;
}

.loginWrap a {
  border : thin solid black;
  text-decoration : none;
  color : black;
}

.messagesWrap {
  margin : 0 auto;
  width : 250px;
  min-height : 500px;
  border : 1px solid black;
}

.messagesWrap h2 {
  border-bottom: 2px solid black;
}

#result {
  margin : 0 5px;
  text-align : left;
}

/* ここからCreate Account */
.createAccount {
  width : 300px;
  margin : 0 auto;
  text-align : right;
}

.createAccount input {
  margin-left : 10px;
  margin-bottom : 7px;
}